.field{
    width: 100%;
}
.card{
    width: 60%;
    margin: auto;

}
.container{
    margin-top: 30px;   
}
.card h1{
    text-align: center;
}
.text-center{
    text-align: center;
}
.card button{
    margin: 5px;
}
.flag{
    margin: auto;
}